In [112]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [113]:
categorical = pd.read_csv('/Users/giulianamiranda/Documents/Labs/lab-case-regression/categorical.csv') 
categorical.describe(include='all')

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
count,95412,95412.000000,95412,95412,95412.000000,95412,95412,95412,95412,95412.000000,...,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95410.00000
unique,12,NaN,2,3,NaN,1,4,4,5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,other,NaN,H,F,NaN,L,F,A,R,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,30457,NaN,74582,54234,NaN,95412,46964,34803,22106,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,28.215717,NaN,NaN,2.604756,NaN,NaN,NaN,NaN,1.914728,...,28.818356,2.880571,92.462835,6.367511,94.349201,6.940291,95.414340,6.666373,91.295644,6.08736
std,NaN,14.393713,NaN,NaN,0.623254,NaN,NaN,NaN,NaN,0.736644,...,22.086303,3.026832,2.680042,3.895435,1.735872,3.995867,0.525012,4.240891,3.211893,3.96926
min,NaN,1.000000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,1.000000,...,0.000000,1.000000,75.000000,1.000000,75.000000,1.000000,95.000000,1.000000,0.000000,1.00000
25%,NaN,16.000000,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,1.000000,...,10.000000,1.000000,91.000000,2.000000,94.000000,3.000000,95.000000,2.000000,88.000000,2.00000
50%,NaN,29.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,2.000000,...,28.000000,2.000000,93.000000,6.000000,95.000000,7.000000,95.000000,7.000000,92.000000,7.00000
75%,NaN,40.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,2.000000,...,47.000000,2.000000,95.000000,10.000000,95.000000,11.000000,96.000000,11.000000,94.000000,10.00000
max,NaN,53.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,4.000000,...,97.000000,12.000000,97.000000,12.000000,97.000000,12.000000,97.000000,12.000000,96.000000,12.00000

In [114]:
numerical = pd.read_csv('/Users/giulianamiranda/Documents/Labs/lab-case-regression/numerical.csv') 
numerical.describe(include= 'all')

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
count,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,...,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000
mean,54.223117,61.611649,4.134721,7.058944,3.321438,1.048443,30.445332,29.702312,32.637719,6.842326,...,5.058242,7.933656,19.999790,17.313127,8.188467,13.347786,95778.176959,0.500618,1.910053,31.534356
std,953.844476,14.450539,1.699477,2.705654,9.306899,5.065522,11.470554,15.097752,17.709065,4.391699,...,4.526651,8.784231,25.067746,13.956630,7.777089,10.769997,55284.596094,0.500002,1.072749,18.751637
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,5.000000,0.000000,0.000000,1.285714,1.000000,0.000000,1.000000,1.000000
25%,0.000000,52.000000,3.000000,5.000000,0.000000,0.000000,24.000000,20.000000,21.000000,4.000000,...,2.000000,3.000000,14.000000,10.000000,4.000000,8.384615,47910.750000,0.000000,1.000000,15.000000
50%,1.000000,61.611649,5.000000,9.000000,0.000000,0.000000,31.000000,29.000000,32.000000,6.000000,...,4.000000,5.000000,17.000000,15.000000,7.000000,11.636364,95681.500000,1.000000,2.000000,32.000000
75%,2.000000,71.000000,5.000000,9.000000,3.000000,0.000000,37.000000,39.000000,43.000000,9.000000,...,7.000000,10.000000,23.000000,20.000000,10.000000,15.477955,143643.500000,1.000000,3.000000,49.000000
max,72002.000000,98.000000,7.000000,9.000000,241.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,41.000000,1000.000000,5000.000000,1000.000000,1088.000000,1000.000000,191779.000000,1.000000,4.000000,62.000000

In [116]:
target = pd.read_csv('/Users/giulianamiranda/Documents/Labs/lab-case-regression/target.csv') 
target.describe(include= 'all')

           TARGET_B      TARGET_D
count  95412.000000  95412.000000
mean       0.050759      0.793073
std        0.219506      4.429725
min        0.000000      0.000000
25%        0.000000      0.000000
50%        0.000000      0.000000
75%        0.000000      0.000000
max        1.000000    200.000000

In [117]:
# To begin with, I'm creating a filter to select only the data on the people who actually donated

full_df = pd.concat([numerical, categorical], axis=1)

In [118]:
full_df = pd.concat([full_df, target], axis=1)

In [119]:
df_contributed = full_df[full_df['TARGET_B'] == 1]

In [120]:
X = df_contributed.drop(['TARGET_B', 'TARGET_D'], axis = 1)

In [121]:
y = df_contributed[['TARGET_B', 'TARGET_D']]

In [122]:
X_num = X.select_dtypes(include='number')
X_cat = X.select_dtypes(include='object')

In [123]:
X_cat = X_cat.astype(str)

encoder = OneHotEncoder(drop='first').fit(X_cat)
encoded_categorical_array = encoder.transform(X_cat).toarray()
encoded_categorical = pd.DataFrame(encoded_categorical_array, columns=encoder.get_feature_names_out(X_cat.columns))

In [125]:
scaler = StandardScaler()
numericalX_norm = scaler.fit_transform(X_num)

In [126]:
numericalX_norm = pd.DataFrame(numericalX_norm, columns=X_num.columns)

In [127]:
# I'm reseting the index to prevent erros
numericalX_norm = numericalX_norm.reset_index(drop = True)
encoded_categorical = encoded_categorical.reset_index(drop = True)

In [128]:
X_new = pd.concat([numericalX_norm, encoded_categorical], axis=1)
y = y = df_contributed[['TARGET_D']]

In [129]:
# Doing the train test split

X_train, X_test, y_train, y_test = train_test_split(X_new, y, random_state = 0, test_size = 0.2)

In [130]:
from sklearn.linear_model import LinearRegression

lin_r = LinearRegression()
lin_r.fit(X_train, y_train)
y_pred = lin_r.predict(X_test)

In [131]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error (MSE): {mse}')

r_squared = r2_score(y_test, y_pred)
print(f'R-squared: {r_squared}')

Mean Squared Error (MSE): 135.38611017658593
R-squared: 0.2895529501350117